body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #818080;
    color: #fff;
}

.post {
        width: 80%;
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

.post h2 {
    margin-top: 0;
}

.post a {
    color: #333;
    text-decoration: none;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b8b6b6;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #4b9ec5;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

form button:hover {
    background-color: #13777a;
}


.post-detail {
    padding: 20px;
}

.post-detail h1 {
    margin-top: 0;
}

.post-detail p {
    line-height: 1.6;
}

/* Responsive design */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    form button {
        width: 100%;
    }
}